#LoginBody #unity-text-input {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=3f49699c1346fe84b8b20b60b1f85323&type=3#NotInter-Regular");
    font-size: 60px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
}
